

<div class="toolbar" role="banner">
  <span style="margin-left: 30px;">Movies friends search</span>
</div>

<div class="content" role="main">

  <div class="card highlight-card card-small" style="margin-bottom: 50px;">
    <span> Wellcome {{users[0].name}} !</span>
  </div>

  <h2 *ngIf="!result">List of your friends</h2>

  <div class="card-container" *ngIf="myFriends.length > 0 && !result">
    <a class="card" *ngFor="let friend of myFriends" (click)="search(friend)">
      <span>{{users[friend].name}}</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    
    </a>
  </div>

  <div *ngIf="result">
    <div>
      The most popular movies of your friend <strong>{{ friend }}</strong> in his/her network is
    </div>

    <h2 >{{ popularMovies }}</h2>

    <div class="card-container">
      <a class="card" (click)="return()">
        <svg class="material-icons" style="transform: rotate(180deg);" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    
        <span style="margin-left: 10px;">Return</span>
      </a>
    </div>
  </div>

</div>
